.carousel-item img {
  height: 300px;          
  object-fit: cover;  
}


#flex{
    display: flex;
    justify-content: space-between;
        background: radial-gradient(
    circle at top left,
    #1a001a38,
    #16ca0924,  
    #1a001a2e,
    #2376143b,
    #0000002b
  );
  padding: 80px;
  margin-top: 100px;
}
#flex-left p a{
    color: #00000098;
}
#flex-right a{
    font-size: 16pt;
    color: #0f7f9e;
}
#flex p{
    font-size: 16pt;
    font-weight: 500;
}
#flex img{
    width: 25%;
}
#flex div{
    width: 33%;
    text-align: center;
}


.contact-section {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}
.contact-box {
  width: 100%;
  max-width: 800px;
  border: 2px solid #3a124857;
          background: radial-gradient(
    circle at top left,
    #1a001a38,
    #16ca0924,  
    #1a001a2e,
    #2376143b,
    #0000002b
  );
  border-radius: 20px;
  padding: 50px;
}
.contact-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  color: #0c0601;
}
.contact-form .form-group {
  margin-bottom: 20px;
}
.contact-form label {
  display: block;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #3a124857;
  background: transparent;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
  color: #333;
}
.contact-btn {
  display: block;
  margin: 40px auto 0;
  padding: 10px 40px;
  background: #3a1248b4;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.contact-btn:hover {
  background: #3a1248e8;
}


#section-why-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#why-us{
    padding: 20px;
    margin-top: 60px;
}
.why-us-content{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
      background: radial-gradient(
    circle at top left,
    #1a001a38,
    #16ca0924,  
    #1a001a2e,
    #2376143b,
    #0000002b
  );
    margin: 60px 0px;
    padding-top: 25px;
}
.why-us-content #why-us-img{
    width: 30%;
}
#section-why-us .why-us-content #why-us-text{
   width: 100% ; 
   padding: 10px 40px; 
}
#section-why-us .why-us-content p{
    font-size: 12pt;
    font-weight: 500;
    text-align: center;
}
#section-why-us .why-us-content h3{
    font-size: 20pt;
    text-align: center;
}


#trainig-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trainig-content{
    width: 45%;
    padding: 30px 20px 0px;
    margin-top: 50px;
          background: radial-gradient(
    circle at top left,
    #1a001a38,
    #16ca0924,  
    #1a001a2e,
    #2376143b,
    #0000002b
  );
}
.trainig-content article{
    height: auto;
}
.trainig-content article img{
    height: 350px;
}
.trainig-content h3{
    text-align: center;
    font-size: 27pt;
}
.trainig-content p{
    font-size: 16pt;
    text-align: center;
}
#trainig-h3 h3{
    font-size: 24pt;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
              background: radial-gradient(
    circle at top left,
    #1a001a38,
    #16ca0924,  
    #1a001a2e,
    #2376143b,
    #0000002b
  );
}

    #carousel,
    #carousel .carousel-inner,
    #carousel .carousel-item {
        margin: 0;
        padding: 0;
        height: 300px; /* желана височина на карусела */
    }
    #carousel .carousel-item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

@media (max-width: 960px) {
    /*За нас*/
  .why-us-content {
    width: 30%;
    margin: 25px 0;
    padding-top: 20px;
  }
  .why-us-content #why-us-img {
    width: 25%;
  }
  #section-why-us .why-us-content h3 {
    font-size: 18pt;
  }
  #section-why-us .why-us-content #why-us-text {
    padding: 10px 20px;
  }

  /*Тренировки*/
  #trainig-h3 h3 {
    font-size: 22pt;
    padding: 15px;
  }
  #trainig-flex .trainig-content p{
    font-size: 12pt;
  }
  #trainig-flex {
    padding: 0 20px;
  }
  .trainig-content {
    width: 48%;
    margin-top: 40px;
    padding: 22px 16px 0;
  }
  .trainig-content h3 {
    font-size: 20pt;
  }
  .trainig-content article img {
    height: 260px;
  }

  /*Контакти*/
  #flex {
    padding: 50px 30px;
  }
  #flex div {
    width: 32%;
  }
  #flex img {
    width: 30%;
  }
  #flex p {
    font-size: 14pt;
  }
  #flex-right a {
    font-size: 14pt;
  }
  .contact-section {
    padding: 60px 20px;
    width: 700;
  }
  .contact-title {
    margin-bottom: 20px;
  }
  .contact-box{
    padding: 30px;
  }

}

@media (max-width: 780px) {

    /*за нас*/
  #section-why-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
  }
  .why-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(50% - 10px);
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .why-us-content #why-us-img {
    width: 50%;
    margin-bottom: 1px;
    order: 0;
  }
  .why-us-content #why-us-img img{
    height: 100px;
    width: 100px;
  }
  .why-us-content h3 {
    font-size: 18pt;
    margin-bottom: 10px;
  }
  .why-us-content p {
    font-size: 12pt;
    line-height: 1.5;
  }
  #section-why-us .why-us-content #why-us-text {
    padding: 0 15px;
  }

   /*Тренировки*/
  #trainig-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
  .trainig-content {
    width: 100%;
    margin-top: 30px;
    padding: 25px 20px;
    background-color: rgba(255, 255, 255, 0.714);
    display: flex;
    flex-direction: column; /* вертикално подреждане вътре */
    align-items: center;
    text-align: center;
  }
  .trainig-content h3 {
    font-size: 22pt;
    margin-bottom: 15px;
  }
  .trainig-content p {
    font-size: 15pt;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .trainig-content article img {
    height: 300px;
    width: 100%;
  }
  #trainig-h3 h3 {
    font-size: 24pt;
    padding: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.662);
  }

    #carousel,
    #carousel .carousel-inner,
    #carousel .carousel-item {
        margin: 0;
        padding: 0;
        height: 300px;
    }
    #carousel .carousel-item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

     /*Контакти*/
  #flex {
    flex-direction: column;
    align-items: center;
    padding: 40px 15px;
    gap: 20px
  }
  #flex div {
    width: 100%;
    text-align: center;
  }
  #flex img {
    width: 15%; 
    margin-bottom: 10px;
  }
  #flex p {
    font-size: 14pt;
    font-weight: 500;
    margin: 5px 0;
  }
  #flex-right a,
  #flex-left a {
    font-size: 14pt;
  }

}

@media (max-width: 640px) {

    /*За нас*/
  .carousel-item img{
    height: 200px;
  }
  #carousel .carousel-item img{
    height: 250px;
  }
  #section-why-us {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 25px;
  }
  .why-us-content {
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }
  #section-why-us .why-us-content h3 {
    font-size: 16pt;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
  }
  #section-why-us .why-us-content p {
    font-size: 11pt;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    padding: 0 10px;
  }
  .why-us-content #why-us-img {
    order: 1;
    width: 100%;                
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  #section-why-us .why-us-content #why-us-text {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  /*тренировки*/
  #trainig-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }
  .trainig-content {
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }
  .trainig-content h3 {
    text-align: center;
    font-size: 16pt;
    margin-bottom: 10px;
    width: 100%;
  }
  .trainig-content p {
    font-size: 11pt;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    padding: 0 10px;
  }
  .trainig-content article {
    width: 100%;
    margin-top: 10px;
  }
 .trainig-content article img {
    width: 100%; 
    max-width: 100%;
    height: auto; 
    border-radius: 8px;
  }
  #trainig-h3 h3 {
    font-size: 18pt;
    text-align: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }
  .trainig-content .carousel-inner {
    margin-bottom: 0;
  }
  
  /*Контакти*/
  #flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    width: 100%;
  }
  #flex div {
    width: 95%;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
  }
  #flex img {
    width: 40%; 
    margin-bottom: 10px;
  }
  #flex p {
    font-size: 11pt; 
    margin: 5px 0;
  }
  #flex a {
    font-size: 11pt;
    color: #0f7f9e;
    text-decoration: none;
  }

}


